@font-face {
    font-family: "OpenSans";
    src:
        url("../Font/OpenSans-Medium.ttf") format("truetype"),
        url("../Font/OpenSans-BoldItalic.ttf"),
        url("../Font/OpenSans-ExtraBold.ttf"),
        url("../Font/OpenSans-ExtraBoldItalic.ttf"),
        url("../Font/OpenSans-Italic.ttf"),
        url("../Font/OpenSans-Light.ttf"),
        url("../Font/OpenSans-LightItalic.ttf"),
        url("../Font/OpenSans-Bold.ttf"),
        url("../Font/OpenSans-MediumItalic.ttf"),
        url("../Font/OpenSans-Regular.ttf"),
        url("../Font/OpenSans-SemiBold.ttf"),
        url("../Font/OpenSans-SemiBoldItalic.ttf");
}
* {
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
}
ul,
li,
p,
h1,
h2,
p,
a {
    text-decoration: none !important;
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.wrapper {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.container {
    padding: 0 9.5vw;
    max-width: unset !important;
}

.menu-mb {
    display: none;
}
.contact-wrap {
    padding: 10px;
    color: #fff;
    font-size: 18px;
    background-color: #252525;
    .container {
        gap: 20px;
    }
    .active {
        color: #4bc7f4;
    }
    .phone-number {
        gap: 3px;
    }
    .signup-btn {
        background-color: #005d83;
        color: #fff;
        padding: 5px 20px;
        cursor: pointer;
        border-radius: 90px;
        font-size: 18px;
    }
}

header {
    background-color: #fff;
    padding: 25px 0;
    .container {
    }
    .nav-mobile {
        display: none;
    }
    nav {
        ul {
            gap: 40px;
        }
        li {
            font-size: 22px;
            line-height: 27px;
            color: #005d83;
        }
    }
}

.banner {
    img {
        max-width: 1920px;
        object-fit: cover;
        width: 100%;
        height: 680px;
    }
}

.intro {
    display: flex;
    .left {
        padding: 90px 0;
        padding-left: 9.5vw;
        padding-right: 100px;
        width: 62.5%;
        background-color: #c1d739;
        p {
            font-size: 36px;
            line-height: 46px;
            color: #ffffff;
        }
        .text {
            font-size: 30px;
            line-height: 42px;
            color: #4e4e4e;
            font-weight: 400;
        }
    }
    .right {
        video {
            height: 100%;
            width: 100%;
        }
        width: calc(100% - 62.5%);
        position: relative;
    }
}

.btn-group {
    position: fixed;
    z-index: 100;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
    top: 35%;
    visibility: hidden;
    right: -100px;
    transition: 0.2s ease;
    &.active {
        opacity: 1;
        right: 0;

        visibility: visible;
    }
    a {
        cursor: pointer;
        width: 90px;
        height: 90px;
        border-radius: 6px;
        filter: drop-shadow(-2.509px 6.535px 5px rgba(184, 184, 184, 0.65));
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.highlights {
    height: 1150px;
    display: flex;
    h1 {
        padding-top: 145px;

        font-size: 48px;
        line-height: 48px;
        color: #4e4e4e;
        font-weight: 700;
        width: 100%;
    }
    .left {
        padding-left: 9.5vw;
        width: 62.5%;
        height: 100%;
    }

    .right {
        height: 100%;
        width: calc(100% - 62.5%);
        background-color: #4bc7f4;
    }
    .main {
        z-index: 99;
        position: absolute;
        width: 80.5%;
        margin: 250px auto 0;
        transform: translateX(-50%);
        left: 50%;
        .col-lg-3 {
            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            img {
                max-height: 100%;
                max-width: 100%;
            }
        }
        .box {
            background-color: #fff;
            height: 359px;
            padding: 20px;
            &.has-shadow {
                box-shadow: 0px 1px 20px #888;
            }
            &.img {
                padding: 0;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            img {
                object-fit: cover;
                max-width: 100%;
                max-height: 100%;
            }
            h2 {
                font-size: 26px;
                margin-bottom: 20px;
                line-height: 30px;
                color: #ffffff;
                font-weight: 500;
            }
            p {
                font-size: 18px;
                line-height: 24px;
                color: #005d83;
                font-weight: 400;
            }
        }
    }
}

.program {
    padding: 130px 0;
    background-color: #f5f5f5;
    .swiper {
        display: none;
    }
    h1 {
        font-size: 48px;
        line-height: 51px;
        color: #005d83;
        font-weight: 700;
        text-align: center;
    }

    h2 {
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
        font-size: 24px;
        line-height: 32px;
        color: #4e4e4e;
        max-width: 950px;
        font-weight: 400;
        margin-bottom: 30px;
    }
    .arrow-link {
        margin: 0 auto;
        text-align: center;
        display: block;
    }

    .list {
        margin-top: 75px;
        .item {
            position: relative;

            cursor: pointer;
            display: block;
            min-height: 440px;
            position: relative;
            border-radius: 10px;
            filter: drop-shadow(4.769px 7.632px 3px rgba(0, 0, 0, 0.08));
            background-color: #ffffff;
            .overlay {
                position: absolute;
                top: 100px;
                opacity: 0;
                visibility: hidden;
                display: block;
                background-color: #bcd52a;
                transition: 0.2s ease;
            }

            &:hover .overlay {
                opacity: 1;
                visibility: visible;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
            img {
                border-radius: 10px;
            }
            p {
                margin: 15px 20px;
                font-size: 20px;
                line-height: 24px;
                color: #ffffff;
                font-weight: 400;
            }

            h2 {
                padding: 17px 10px;
                font-size: 28px;
                line-height: 51px;
                color: #ffffff;
                margin: 0;
                font-weight: 500;
            }
        }
        .link {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            display: block;
            color: #fff;
            font-size: 28px;
            padding: 20px;
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            line-height: 51px;
            color: #ffffff;
            font-weight: 300;
            margin: 0 auto;
            margin-top: auto;
            background-color: #92b50d;
        }
    }

    .cambridge {
        margin: 30px auto 0;
        padding-bottom: 40px;
        display: block;
    }
}
.destination {
    background: url(../img/earth-bg.svg);
    padding-top: 90px;
    min-height: 900px;
    h1 {
        font-size: 48px;
        line-height: 51px;
        font-weight: 700;
        text-align: center;
        color: #fff;
    }

    h2 {
        margin: 0 auto;
        margin-top: 50px;
        color: #fff;
        text-align: center;
        font-size: 24px;
        line-height: 32px;
        max-width: 950px;
        font-weight: 400;
        margin-bottom: 30px;
    }
    .arrow-link {
        margin: 0 auto;
        text-align: center;
        display: block;
    }
}

.system {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("../img/EW_Top\ view_2023-07-12\ full_1.svg");
    background-size: cover;
    background-blend-mode: multiply;
    padding-bottom: 160px;
    padding-top: 130px;
    position: relative;

    .layer {
    }
    .content {
        z-index: 99;
        width: 100%;
        text-align: center;
    }
    .list {
        align-items: stretch;

        li {
            min-height: 430px;

            &.img {
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .item {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 30px 45px;
        height: 100%;
        img {
            object-fit: scale-down;
        }
        h2 {
            font-size: 36px;
            line-height: 44px;
            color: #ffffff;
            font-weight: bold;
        }

        p {
            font-size: 22px;
            line-height: 24px;
            color: #ffffff;
        }
    }
    h1 {
        margin-top: 150px;
        font-size: 60px;
        line-height: 81px;
        color: #ffffff;
        font-weight: 700;
    }

    .line {
        width: 75px;
        height: 5px;
        background-color: #57cbf5;
        margin: 80px auto 110px;
    }
}

.testimonial {
    padding-top: 100px;
    padding-bottom: 60px;
    .swiper2{
        overflow: hidden;
        padding: 10px;
    }
    h1 {
        font-size: 48px;
        line-height: 95px;
        color: #005d83;
        font-weight: 700;
        margin-bottom: 60px;
    }
    .item {
        box-shadow: 0px 1px 10px #888;
        position: relative;
        height: 100%;
        img {
            height: 300px;
            width: 100%;
            object-fit: cover;
        }
        .info {
            padding: 30px 45px;
        }
        h2 {
            font-size: 24px;
            line-height: 30px;
            color: #2e2e2e;
            font-weight: 400;
        }

        p {
            margin-top: 20px;
            font-size: 20px;
            line-height: 30px;
            color: #2e2e2e;
            font-weight: 400;
        }

        .layer {
            position: absolute;

            p {
                font-size: 14px;
                line-height: 24px;
                color: #ffffff;
                font-weight: 400;
            }
        }
    }
}

.news {
    padding-top: 130px;
    padding-bottom: 50px;
    .swiper3{
        overflow: hidden;
        height: 500px;

        .swiper-button-next, .swiper-button-prev{
            top: 100%;
        }
    }
    h1 {
        font-size: 60px;
        line-height: 94px;
        color: #4e4e4e;
        font-weight: 700;
        margin-bottom: 25px;
    }

    .item {
        h2 {
            font-size: 24px;
            line-height: 29px;
            color: #57cbf5;
            font-weight: 700;
        }

        p {
            font-size: 18px;
            line-height: 28px;
            color: #4e4e4e;
            font-weight: 400;
        }
    }
    .event {
        .list {
            background-color: #57cbf5;
            padding: 40px 25px;
            height: 600px;
            .item {
                &:last-child {
                    border-bottom: 1px solid #fff;
                }
                padding-bottom: 25px;
                padding-top: 25px;
                border-top: 1px solid #fff;
                .date {
                    .day {
                        font-size: 69px;
                        color: #ffffff;
                        font-weight: 700;
                        height: fit-content;
                        line-height: 1;
                    }
                    p {
                        font-size: 18px;
                        line-height: 24px;
                        color: #ffffff;
                        font-weight: 400;
                    }
                }
                .content {
                    font-size: 18px;
                    line-height: 24px;
                    color: #ffffff;
                    font-weight: 400;
                }
            }
        }
    }
}
.list-logo {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    white-space: nowrap;
    gap: 20px;
    padding: 50px;
    .item {
        width: 20%;
    }
}
.consult {
    display: flex;
    .left {
        padding-top: 85px;
        padding-left: 9.5vw;
        width: 40%;
        background-color: #ebebeb;

        .banner {
            width: 83%;
            box-shadow: 0px 1px 10px #888;
            .content {
                padding: 5px 25px 40px;
                background-color: #fff;
            }
            img {
                height: 475px;
            }
            h2 {
                font-size: 24px;
                line-height: 29px;
                color: #57cbf5;
                font-weight: 500;
            }
            p {
                margin-top: 20px;
                font-size: 18px;
                line-height: 28px;
                color: #4e4e4e;
                font-weight: 400;
            }
        }
    }

    .right {
        flex: 1;
        background-color: #bfd731;
        padding: 0 80px;
        padding-top: 85px;
        padding-bottom: 65px;

        h1 {
            font-size: 48px;
            line-height: 70px;
            color: #ffffff;
            font-weight: 700;
        }
        .form {
            padding: 70px 65px;
            margin-top: 20px;
            background-color: #fff;
            box-shadow: 0px 1px 10px #999;
            display: flex;
            flex-direction: column;
            gap: 30px;

            input {
                font-size: 24px;
                line-height: 34px;
                color: #2e2e2e;
                font-weight: 400;

                outline: none;
                border: none;
                border-bottom: 1px solid #51bde4;
            }
            select {
                font-size: 24px;
                line-height: 34px;
                color: #2e2e2e;
                font-weight: 400;
                border-radius: 50px;
                padding: 5px 10px;
            }

            .btn {
                font-size: 30px;
                line-height: 24px;
                color: #ffffff;
                font-weight: 500;
                width: 513px;
                height: 48px;
                border-radius: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 50px;
                background-color: #57cbf5;
            }
        }
    }
}

footer {
    background: url(../img/bg\ footer-02.svg);
    padding: 50px 0;
    .row.mb {
        display: none;
    }
    .social-list {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-top: 50px;

        .item {
            background-color: #51bde4;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 55px;
            height: 55px;
            border-radius: 100%;
            padding: 6px;

            svg {
                width: 30px;
                height: 30px;
            }
        }
    }
    p,
    li {
        font-size: 24px;
        line-height: 36px;
        color: #ffffff;
        font-weight: 400;
    }

    .contact {
        margin-top: 55px;
        background-color: transparent;
        p {
            font-size: 24px;
            line-height: 36px;
            color: #bcd52a;
            font-weight: 500;
            display: flex;
            gap: 7px;
            img {
                color: #fff;
            }
        }
    }
}

.end {
    padding: 30px 0;
    text-align: center;
    background-color: #4bc7f4;
    p {
        font-size: 42px;
        line-height: 52px;
        color: #ffffff;
        font-weight: 400;
    }
}

/* small pc */
@media screen and (min-width: 1280px) and (max-width: 1900px) {
}

/* tablet */
@media screen and (max-width: 1025px) {
    .menu-mb {
        z-index: 999;
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 200px;
        display: flex;

        .item {
            display: flex;
            width: 20%;
            background-color: #fff;

            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3px;
            img {
                width: 40px;
                height: 40px;
            }
            p {
                font-size: 25px;
                line-height: 36px;
                text-align: center;
                color: #242424;
                font-weight: 400;
            }
            &.active {
                background-color: #bfd731;
                p {
                    color: #fff;
                }
            }
        }
    }
    .btn-group {
        top: 15%;
    }
    .contact-wrap {
        .phone-number {
            display: none !important;
        }
    }

    header {
        nav {
            display: none;
        }
        .nav-mobile {
            display: block;
            position: relative;

            ul {
                &.active {
                    top: 30px;
                    opacity: 1;
                }
                position: absolute;
                top: -30px;
                transition: 0.2s ease;
                opacity: 0;
                flex-direction: column;
                right: 0;
                align-items: flex-start !important;
                background-color: #fff;
                z-index: 99;
                padding: 15px;
                width: 150px;
                gap: 20px;
                box-shadow: 0px 1px 15px #888;

                li {
                    text-align: left;
                }
            }
        }
    }

    .intro {
        flex-direction: column;
        .left {
            padding-left: 4.5vw;
            padding-right: 4.5vw;
            width: 100%;
            .text {
                margin-top: 30px;
            }
        }

        .right {
            width: 100%;
        }
    }

    .highlights {
        height: 1690px;
        h1 {
            padding-top: 100px;
            width: 100%;
        }
        .left {
            width: 100%;
            padding: 0 9.5vw;
        }
        .right {
            display: none;
        }
        .main {
            margin-top: 250px;
        }
    }

    .system {
        .list {
            gap: 20px;
            li {
                min-height: 650px;

                &.img img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .list-logo {
        display: block;
        width: 100%;
        overflow: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        .item {
            margin-left: 20px;
            width: 31%;
            display: inline-block;
        }
    }
    .consult {
        flex-direction: column;
        .left {
            width: 100%;
            padding: 90px 9.5vw;
            .banner {
                margin: 0 auto;
            }
        }
        .right {
            width: 100%;
        }
    }
    .program {
        display: block;

        .swiper {
            display: block;
            margin-top: 50px;
            .swiper-wrapper{
                margin-top: 100px;
            }
            .swiper-pagination {
                gap: 20px;
                top: 0;
                height: fit-content;
                display: flex;
                pointer-events: all;
                gap: 3px;
                span.swiper-pagination-bullet {
                    width: 270px;
                    opacity: 1;
                    display: inline-block;
                    display: flex;
                    justify-content: center;
                    border-radius: 0;
                    align-items: center;
                    height: 80px;
                    color: #fff;
                    font-size: 18px;
                    line-height: 40px;
                    color: #ffffff;
                    text-align: center;
                }
                .pag-0 {
                    background-color: #a6a1a0;
                }
                .pag-1{
                    background-color: #bfd731;
                }
                .pag-2{
                    background-color: #4bc7f4;
                }
                .pag-3{
                    background-color: #005d83;
                }
            }
        }
        .col-lg-3 {
            width: 40%;
        }
        .row {
            overflow-x: scroll;
            white-space: nowrap;
            width: 100%;
            display: block;
        }
        .list {
            display: none;
        }
        .item {
            display: inline-block;
        }
    }

    .news{
        .swiper3{
            height: fit-content;
            .swiper-button-next, .swiper-button-prev{
                display: none;
            }
        }
        .event{
            margin-top: 140px;
            flex-direction: row;

            .swiper4{
                height: fit-content;
            }
        }
    }
    footer {
        padding-top: 80px;
        padding-bottom: 100px;

        .row {
            display: none;
            &.mb {
                display: block;
            }
        }
    }
}

/* mobile */

@media screen and (max-width: 767.98px) {
    .container {
        padding: 0 4.5vw;
    }
    .program{
        .swiper{
            .swiper-pagination{
                span.swiper-pagination-bullet{
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }
    }
    .btn-group {
        a {
            width: 50px;
            height: 50px;
        }
    }
    .menu-mb {
        height: 160px;
        .item {
            width: 20%;
            img {
                width: 25px;
                height: 25px;
            }
            p {
                line-height: 25px;
                font-size: 18px;
            }
        }
    }
    .intro {
        .left {
            img {
                width: 130px;
            }
            p {
                margin-left: 10px;
                font-size: 30px;
            }
        }
    }
    .highlights {
        .main {
            .box {
                height: 385px;
            }
        }
    }
    .system {
        .item {
            h2 {
                font-size: 30px;
            }
        }
    }
}
