@font-face {
  font-family: "OpenSans";
  src: url("../Font/OpenSans-Medium.ttf") format("truetype"), url("../Font/OpenSans-BoldItalic.ttf"), url("../Font/OpenSans-ExtraBold.ttf"), url("../Font/OpenSans-ExtraBoldItalic.ttf"), url("../Font/OpenSans-Italic.ttf"), url("../Font/OpenSans-Light.ttf"), url("../Font/OpenSans-LightItalic.ttf"), url("../Font/OpenSans-Bold.ttf"), url("../Font/OpenSans-MediumItalic.ttf"), url("../Font/OpenSans-Regular.ttf"), url("../Font/OpenSans-SemiBold.ttf"), url("../Font/OpenSans-SemiBoldItalic.ttf");
}
* {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}

ul,
li,
p,
h1,
h2,
p,
a {
  text-decoration: none !important;
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  padding: 0 9.5vw;
  max-width: unset !important;
}

.menu-mb {
  display: none;
}

.contact-wrap {
  padding: 10px;
  color: #fff;
  font-size: 18px;
  background-color: #252525;
}
.contact-wrap .container {
  gap: 20px;
}
.contact-wrap .active {
  color: #4bc7f4;
}
.contact-wrap .phone-number {
  gap: 3px;
}
.contact-wrap .signup-btn {
  background-color: #005d83;
  color: #fff;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 90px;
  font-size: 18px;
}

header {
  background-color: #fff;
  padding: 25px 0;
}
header .nav-mobile {
  display: none;
}
header nav ul {
  gap: 40px;
}
header nav li {
  font-size: 22px;
  line-height: 27px;
}
header nav li a {
  color: #005d83;
}

.banner img {
  max-width: 1920px;
  object-fit: cover;
  width: 100%;
  height: 680px;
}

.intro {
  display: flex;
}
.intro .left {
  padding: 90px 0;
  padding-left: 9.5vw;
  padding-right: 100px;
  width: 62.5%;
  background-color: #c1d739;
}
.intro .left p {
  font-size: 36px;
  line-height: 46px;
  color: #ffffff;
}
.intro .left .text {
  font-size: 30px;
  line-height: 42px;
  color: #4e4e4e;
  font-weight: 400;
}
.intro .right {
  width: 37.5%;
  position: relative;
}
.intro .right video {
  height: 100%;
  width: 100%;
}

.btn-group {
  position: fixed;
  z-index: 100;
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
  top: 35%;
  visibility: hidden;
  right: -100px;
  transition: 0.2s ease;
}
.btn-group.active {
  opacity: 1;
  right: 0;
  visibility: visible;
}
.btn-group a {
  cursor: pointer;
  width: 90px;
  height: 90px;
  border-radius: 6px;
  filter: drop-shadow(-2.509px 6.535px 5px rgba(184, 184, 184, 0.65));
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlights {
  height: 1150px;
  display: flex;
}
.highlights h1 {
  padding-top: 145px;
  font-size: 48px;
  line-height: 48px;
  color: #4e4e4e;
  font-weight: 700;
  width: 100%;
}
.highlights .left {
  padding-left: 9.5vw;
  width: 62.5%;
  height: 100%;
}
.highlights .right {
  height: 100%;
  width: 37.5%;
  background-color: #4bc7f4;
}
.highlights .main {
  z-index: 99;
  position: absolute;
  width: 80.5%;
  margin: 250px auto 0;
  transform: translateX(-50%);
  left: 50%;
}
.highlights .main .col-lg-3 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.highlights .main .col-lg-3 img {
  max-height: 100%;
  max-width: 100%;
}
.highlights .main .box {
  background-color: #fff;
  height: 359px;
  padding: 20px;
}
.highlights .main .box.has-shadow {
  box-shadow: 0px 1px 20px #888;
}
.highlights .main .box.img {
  padding: 0;
}
.highlights .main .box.img img {
  width: 100%;
  height: 100%;
}
.highlights .main .box img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
.highlights .main .box h2 {
  font-size: 26px;
  margin-bottom: 20px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 500;
}
.highlights .main .box p {
  font-size: 18px;
  line-height: 24px;
  color: #005d83;
  font-weight: 400;
}

.program {
  padding: 130px 0;
  background-color: #f5f5f5;
}
.program .swiper {
  display: none;
}
.program h1 {
  font-size: 48px;
  line-height: 51px;
  color: #005d83;
  font-weight: 700;
  text-align: center;
}
.program h2 {
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  color: #4e4e4e;
  max-width: 950px;
  font-weight: 400;
  margin-bottom: 30px;
}
.program .arrow-link {
  margin: 0 auto;
  text-align: center;
  display: block;
}
.program .list {
  margin-top: 75px;
}
.program .list .item {
  position: relative;
  cursor: pointer;
  display: block;
  min-height: 440px;
  position: relative;
  border-radius: 10px;
  filter: drop-shadow(4.769px 7.632px 3px rgba(0, 0, 0, 0.08));
  background-color: #ffffff;
}
.program .list .item .overlay {
  position: absolute;
  top: 100px;
  opacity: 0;
  visibility: hidden;
  display: block;
  background-color: #bcd52a;
  transition: 0.2s ease;
}
.program .list .item:hover .overlay {
  opacity: 1;
  visibility: visible;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.program .list .item img {
  border-radius: 10px;
}
.program .list .item p {
  margin: 15px 20px;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
}
.program .list .item h2 {
  padding: 17px 10px;
  font-size: 28px;
  line-height: 51px;
  color: #ffffff;
  margin: 0;
  font-weight: 500;
}
.program .list .link {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: block;
  color: #fff;
  font-size: 28px;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 51px;
  color: #ffffff;
  font-weight: 300;
  margin: 0 auto;
  margin-top: auto;
  background-color: #92b50d;
}
.program .cambridge {
  margin: 30px auto 0;
  padding-bottom: 40px;
  display: block;
}

.destination {
  background: url(../img/earth-bg.svg);
  padding-top: 90px;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 900px;
}
.destination .swiper5 {
  margin-top: 70px;
}
.destination h1 {
  font-size: 48px;
  line-height: 51px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
.destination h2 {
  margin: 0 auto;
  margin-top: 50px;
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  max-width: 950px;
  font-weight: 400;
  margin-bottom: 30px;
}
.destination .arrow-link {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.system {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/EW_Top view_2023-07-12 full_1.svg");
  background-size: cover;
  background-blend-mode: multiply;
  padding-bottom: 160px;
  padding-top: 130px;
  position: relative;
}
.system .content {
  z-index: 99;
  width: 100%;
  text-align: center;
}
.system .list {
  align-items: stretch;
}
.system .list li {
  min-height: 430px;
}
.system .list li.img img {
  height: 100%;
  object-fit: cover;
}
.system .item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 45px;
  height: 100%;
}
.system .item img {
  object-fit: scale-down;
}
.system .item h2 {
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
  font-weight: bold;
}
.system .item p {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}
.system h1 {
  margin-top: 150px;
  font-size: 60px;
  line-height: 81px;
  color: #ffffff;
  font-weight: 700;
}
.system .line {
  width: 75px;
  height: 5px;
  background-color: #57cbf5;
  margin: 80px auto 110px;
}

.testimonial {
  padding-top: 100px;
  padding-bottom: 60px;
}
.testimonial .swiper2 {
  overflow: hidden;
  position: relative;
  height: 580px;
}
.testimonial .swiper2 .swiper-slide {
  height: fit-content;
}
.testimonial .swiper2 .swiper-button-next,
.testimonial .swiper2 .swiper-button-prev {
  top: 95%;
  padding: 15px;
  border-radius: 100%;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
.testimonial .swiper2 .swiper-button-next {
  right: 50%;
  transform: translateX(180%);
  background-color: #92b50d;
  color: #fff;
}
.testimonial .swiper2 .swiper-button-next:after {
  font-size: 15px;
}
.testimonial .swiper2 .swiper-button-prev {
  color: #fff;
  background-color: #ccc;
  left: 50%;
  transform: translateX(-180%);
}
.testimonial .swiper2 .swiper-button-prev:after {
  font-size: 15px;
}
.testimonial h1 {
  font-size: 48px;
  line-height: 95px;
  color: #005d83;
  font-weight: 700;
  margin-bottom: 60px;
}
.testimonial .item {
  box-shadow: 0px 1px 10px #888;
  position: relative;
  height: 100%;
}
.testimonial .item img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.testimonial .item .info {
  padding: 30px 45px;
}
.testimonial .item h2 {
  font-size: 24px;
  line-height: 30px;
  color: #2e2e2e;
  font-weight: 400;
}
.testimonial .item p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 30px;
  color: #2e2e2e;
  font-weight: 400;
}
.testimonial .item .layer {
  position: absolute;
}
.testimonial .item .layer p {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
}

.news {
  padding-top: 130px;
  padding-bottom: 50px;
}
.news .swiper3 {
  overflow: hidden;
  position: relative;
  height: 500px;
}
.news .swiper3 .swiper-slide {
  height: fit-content;
}
.news .swiper3 .swiper-button-next,
.news .swiper3 .swiper-button-prev {
  top: 90%;
  padding: 15px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
.news .swiper3 .swiper-button-next {
  right: 50%;
  transform: translateX(180%);
  background-color: #92b50d;
  color: #fff;
}
.news .swiper3 .swiper-button-next:after {
  font-size: 15px;
}
.news .swiper3 .swiper-button-prev {
  color: #fff;
  background-color: #ccc;
  left: 50%;
  transform: translateX(-180%);
}
.news .swiper3 .swiper-button-prev:after {
  font-size: 15px;
}
.news h1 {
  font-size: 60px;
  line-height: 94px;
  color: #4e4e4e;
  font-weight: 700;
  margin-bottom: 25px;
}
.news .item h2 {
  font-size: 24px;
  line-height: 29px;
  color: #57cbf5;
  font-weight: 700;
}
.news .item p {
  font-size: 18px;
  line-height: 28px;
  color: #4e4e4e;
  font-weight: 400;
}
.news .event .list {
  background-color: #57cbf5;
  padding: 25px 22px;
  height: 600px;
  overflow: hidden;
}
.news .event .list .item {
  padding-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid #fff;
}
.news .event .list .item .date .day {
  font-size: 69px;
  color: #ffffff;
  font-weight: 700;
  height: fit-content;
  line-height: 1;
}
.news .event .list .item .date p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
}
.news .event .list .item .content {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
}

.list-logo {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 50px;
}
.consult {
  display: flex;
}
.consult .left {
  padding-top: 85px;
  padding-left: 9.5vw;
  width: 40%;
  background-color: #ebebeb;
}
.consult .left .banner {
  width: 83%;
  box-shadow: 0px 1px 10px #888;
}
.consult .left .banner .content {
  padding: 5px 25px 40px;
  background-color: #fff;
}
.consult .left .banner img {
  height: 475px;
}
.consult .left .banner h2 {
  font-size: 24px;
  line-height: 29px;
  color: #57cbf5;
  font-weight: 500;
}
.consult .left .banner p {
  margin-top: 20px;
  font-size: 18px;
  line-height: 28px;
  color: #4e4e4e;
  font-weight: 400;
}
.consult .right {
  flex: 1;
  background-color: #bfd731;
  padding: 0 80px;
  padding-top: 85px;
  padding-bottom: 65px;
}
.consult .right h1 {
  font-size: 48px;
  line-height: 70px;
  color: #ffffff;
  font-weight: 700;
}
.consult .right .form {
  padding: 70px 65px;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0px 1px 10px #999;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.consult .right .form input {
  font-size: 24px;
  line-height: 34px;
  color: #2e2e2e;
  font-weight: 400;
  outline: none;
  border: none;
  border-bottom: 1px solid #51bde4;
}
.consult .right .form select {
  font-size: 24px;
  line-height: 34px;
  color: #2e2e2e;
  font-weight: 400;
  border-radius: 50px;
  padding: 5px 10px;
}
.consult .right .form .btn {
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 500;
  width: 513px;
  height: 48px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: #57cbf5;
}

footer {
  background: url(../img/bg\ footer-02.svg);
  padding: 50px 0;
}
footer .row.mb {
  display: none;
}
footer .social-list {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 50px;
}
footer .social-list .item {
  background-color: #51bde4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  padding: 6px;
}
footer .social-list .item svg {
  width: 30px;
  height: 30px;
}
footer p,
footer li {
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 400;
}
footer .contact {
  margin-top: 55px;
  background-color: transparent;
}
footer .contact p {
  font-size: 24px;
  line-height: 36px;
  color: #bcd52a;
  font-weight: 500;
  display: flex;
  gap: 7px;
}
footer .contact p img {
  color: #fff;
}

.end {
  padding: 30px 0;
  text-align: center;
  background-color: #4bc7f4;
}
.end p {
  font-size: 42px;
  line-height: 52px;
  color: #ffffff;
  font-weight: 400;
}

/* small pc */
@media screen and (min-width: 1250px) and (max-width: 1900px) {
  .menu-mb {
    display: none;
  }
  header nav ul {
    gap: 12px;
  }
  header nav ul li {
    font-size: 20px;
  }
  .news .event .list {
    padding: 18px 25px;
    height: 585px;
  }
}
/* tablet */
@media screen and (max-width: 1025px) {
  .menu-mb {
    z-index: 999;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    display: flex;
  }
  .menu-mb .item {
    display: flex;
    width: 20%;
    background-color: #fff;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }
  .menu-mb .item img {
    width: 40px;
    height: 40px;
  }
  .menu-mb .item p {
    font-size: 25px;
    line-height: 36px;
    text-align: center;
    color: #242424;
    font-weight: 400;
  }
  .menu-mb .item.active {
    background-color: #bfd731;
  }
  .menu-mb .item.active p {
    color: #fff;
  }
  .btn-group {
    top: 15%;
  }
  .contact-wrap .phone-number {
    display: none !important;
  }
  header nav {
    display: none;
  }
  header .nav-mobile {
    display: block;
    position: relative;
  }
  header .nav-mobile ul {
    position: absolute;
    top: -30px;
    transition: 0.2s ease;
    opacity: 0;
    flex-direction: column;
    right: 0;
    align-items: flex-start !important;
    background-color: #fff;
    z-index: 99;
    padding: 15px;
    width: 150px;
    gap: 20px;
    box-shadow: 0px 1px 15px #888;
  }
  header .nav-mobile ul.active {
    top: 30px;
    opacity: 1;
  }
  header .nav-mobile ul li {
    text-align: left;
  }
  .intro {
    flex-direction: column;
  }
  .intro .left {
    padding-left: 4.5vw;
    padding-right: 4.5vw;
    width: 100%;
  }
  .intro .left .text {
    margin-top: 30px;
  }
  .intro .right {
    width: 100%;
  }
  .highlights {
    height: 1690px;
  }
  .highlights h1 {
    padding-top: 100px;
    width: 100%;
  }
  .highlights .left {
    width: 100%;
    padding: 0 9.5vw;
  }
  .highlights .right {
    display: none;
  }
  .highlights .main {
    margin-top: 250px;
  }
  .system .list {
    gap: 20px;
  }
  .system .list li {
    min-height: 650px;
  }
  .system .list li.img img {
    height: 100%;
    object-fit: cover;
  }
  .list-logo {
    display: block;
    width: 100%;
    overflow: scroll;
  }
  .list-logo::-webkit-scrollbar {
    display: none;
  }
  .list-logo .item {
    display: inline-block;
  }
  .consult {
    flex-direction: column;
  }
  .consult .left {
    width: 100%;
    padding: 90px 9.5vw;
  }
  .consult .left .banner {
    margin: 0 auto;
  }
  .consult .right {
    width: 100%;
  }
  .program {
    display: block;
    padding-bottom: 80px;
  }
  .program .swiper {
    display: block;
    margin-top: 50px;
  }
  .program .swiper .swiper-wrapper {
    margin-top: 100px;
  }
  .program .swiper .swiper-pagination {
    gap: 20px;
    top: 0;
    height: fit-content;
    display: flex;
    pointer-events: all;
    gap: 3px;
  }
  .program .swiper .swiper-pagination span.swiper-pagination-bullet {
    width: 270px;
    opacity: 1;
    display: inline-block;
    display: flex;
    justify-content: center;
    border-radius: 0;
    align-items: center;
    height: 80px;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
    text-align: center;
  }
  .program .swiper .swiper-pagination .pag-0 {
    background-color: #a6a1a0;
  }
  .program .swiper .swiper-pagination .pag-1 {
    background-color: #bfd731;
  }
  .program .swiper .swiper-pagination .pag-2 {
    background-color: #4bc7f4;
  }
  .program .swiper .swiper-pagination .pag-3 {
    background-color: #005d83;
  }
  .program .col-lg-3 {
    width: 40%;
  }
  .program .row {
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    display: block;
  }
  .program .list {
    display: none;
  }
  .program .item {
    display: inline-block;
  }
  .news .swiper3 {
    height: fit-content;
  }
  .news .swiper3 .swiper-button-next,
  .news .swiper3 .swiper-button-prev {
    display: none;
  }
  .news .event {
    margin-top: 140px;
    flex-direction: row;
    margin-left: -9.5vw;
    margin-right: -9.5vw;
  }
  .news .event .swiper4 {
    height: fit-content;
  }
  .consult .left .banner {
    width: 100%;
  }
  footer {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  footer .row {
    display: none;
  }
  footer .row.mb {
    display: flex;
  }
  footer .row.mb .col-6 {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  footer .row .social-list {
    justify-content: center;
    padding-bottom: 90px;
  }
}
/* mobile */
@media screen and (max-width: 767.98px) {
  .container {
    padding: 0 4.5vw;
  }
  .program .swiper .swiper-pagination span.swiper-pagination-bullet {
    font-size: 12px;
    line-height: 20px;
  }
  .btn-group a {
    width: 50px;
    height: 50px;
  }
  .menu-mb {
    height: 160px;
  }
  .menu-mb .item {
    width: 20%;
  }
  .menu-mb .item img {
    width: 25px;
    height: 25px;
  }
  .menu-mb .item p {
    line-height: 25px;
    font-size: 18px;
  }
  .intro .left img {
    width: 130px;
  }
  .intro .left p {
    margin-left: 10px;
    font-size: 30px;
  }
  .highlights .main .box {
    height: 385px;
  }
  .system {
    font-size: 50px;
  }
  .system h1 {
    line-height: 50px;
    font-size: 38px;
  }
  .system .item h2 {
    font-size: 30px;
  }
  .news h1 {
    line-height: 60px;
    font-size: 50px;
  }
  .news .event {
    margin-top: 120px;
    margin-left: -4.5vw;
    margin-right: -4.5vw;
  }
  .news .item h2 {
    font-size: 18px;
  }
  .news .item p {
    font-size: 16px;
    line-height: 20px;
  }
  .testimonial h1 {
    line-height: 60px;
    font-size: 38px;
  }
  .destination h1 {
    font-size: 38px;
  }
  .program h1 {
    font-size: 38px;
  }
  .highlights h1 {
    font-size: 38px;
  }
  .consult .left .banner {
    width: 100%;
  }
  .consult .right {
    padding: 0 20px;
  }
  .consult .right h1 {
    font-size: 35px;
  }
  .consult .right .form .btn {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}
/* small mb */
@media screen and (max-width: 550px) {
  footer .row.mb .col-6 {
    gap: 30px;
    width: 100%;
  }
  footer .row.mb .contact {
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
